<%= form_for([:admin, @food_type], html: { :class => "form-horizontal well" }) do |f| %>
  <div class="control-group">
    <%= f.label :name, 'Nome', :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :name, :class => "input-xlarge" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :locale, 'Idioma', :class => "control-label" %>
    <div class="controls">
      <%= f.select :locale, ['pt-BR', 'en'].map { |l| [l, l] }%>
    </div>
  </div>
  <div class="form-actions">
    <%= f.submit 'Salvar', :class => "btn btn-primary"%>
    <%= link_to 'Cancelar', admin_food_types_path, :class => "btn" %>
  </div>
<% end %>
