<%= form_for([:admin, @delivery_location], html: { :class => "form-horizontal well" }) do |f| %>
  <div class="control-group">
    <%= f.label :name, 'Nome', :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :name, :class => "input-xlarge" %>
    </div>
  </div>
  <div class="form-actions">
    <%= f.submit 'Salvar', :class => "btn btn-primary"%>
    <%= link_to 'Cancelar', admin_delivery_locations_path, :class => "btn" %>
  </div>
<% end %>
