<div class="page-header">
  <h1>Locais de entrega</h1>
</div>
<table class="table table-bordered table-striped table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Nome</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @delivery_locations.each do |d| %>
      <tr>
        <td><%= d.id %></td>
        <td><%= d.name %></td>
        <td>
          <%= link_to 'Editar local', edit_admin_delivery_location_path(d) %>
          <%= link_to 'Remover local', admin_delivery_location_path(d), method: :delete, confirm: 'Deseja realmente remover este local?' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Criar novo local', new_admin_delivery_location_path, :class => "btn btn-success" %>