<!DOCTYPE html />
<html lang="<%= I18n.locale %>">
	<head>
		<title>hostab - bem vindo</title>
		<%= stylesheet_link_tag    "application", :media => "all" %>
	  <%= javascript_include_tag "application" %>
	  <%= csrf_meta_tags %>
	</head>
	<body>
		<section id="login-form">
			<%= form_tag(kitchen_sign_in_path, :class => 'well form-search') do |f|%>
				<fieldset>
					<legend>Acesso ao Painel Admin</legend>
					<p class="controls">
						<label class="control-label">E-mail:</label>
						<input class="input-xlarge" type="text" name="email" />
					</p>

					<p class="controls">
						<label>Senha:</label>
						<input type="password" name="password" />
						<button class="btn-primary btn btn-small">Entrar</button>
					</p>
					<% if flash[:notice] %>
						<div class="alert alert-error"><%= flash[:notice]%></div>
					<% end %>
				</fieldset>
			<% end %>
		</section>
	</body>
</html>