<h1>Dashboard</h1>
<hr />
<section id="last-orders">
	<h3>Últimos pedidos</h3>
	<% if @orders.any? %>
		<table class="table table-bordered table-striped table-hover">
			<thead>
				<tr>
					<th>#</th>
					<th>Cliente</th>
					<th>Local de entrega</th>
					<th>Itens</th>
				</tr>
			</thead>
			<tbody>
					<% @orders.each do |o| %>
					<tr>
						<td><%= o.id %></td>
						<td><%= o.user.name if o.user %></td>
						<td><%= o.delivery_location.name if o.delivery_location %></td>
						<td>
							<ul>
								<% o.items.each do |i| %>
									<li><%= i.food.title %></li>
								<% end %>
							</ul>
						</td>
					</tr>
					<% end %>
			</tbody>
		</table>
	<% end %>
</section>

<section id="current-guests">
	<h3>Hóspedes</h3>
	<table class="table table-bordered table-striped table-hover">
			<thead>
				<tr>
					<th>#</th>
					<th>Nome</th>
					<th>Quarto</th>
					<th>Data de Checkin</th>
				</tr>
			</thead>
			<tbody>
				<% @users.each do |u| %>
					<tr>
						<td><%= u.id %></td>
						<td><%= u.name %></td>
						<td><%= u.room %></td>
						<td><%= u.checkin_at.strftime('%d/%m/%Y')%></td>
					</tr>
				<% end %>
			</tbody>
		</table>
</section>