<%= form_for(@food, url: url, html: { :class => "form-horizontal well" }) do |f| %>
	<div class="control-group">
		<%= f.label "Título", :class => "control-label" %>
		<div class="controls">
			<%= f.text_field :title, :class => "input-xlarge limit-char", data_limit: 43  %>
			<%= f.label 43, class: 'limit-char-label' %>
		</div>
	</div>
	<div class="control-group">
		<%= f.label "Preço", :class => "control-label" %>
		<div class="controls">
			<%= f.text_field :price, :class => "input-xlarge currency"%>
		</div>
	</div>
	<div class="control-group">
		<%= f.label "Ordem", :class => "control-label" %>
		<div class="controls">
			<%= f.number_field :position, :class => "input-xlarge"%>
		</div>
	</div>
	<div class="control-group">
		<%= f.label "Descrição", :class => "control-label" %>
		<div class="controls">
			<%= f.text_area :description, :class => "input-xlarge limit-char", data_limit: 215 %>
			<%= f.label 215, class: 'limit-char-label'  %>
		</div>
	</div>
	<div class="form-actions">
		<%= f.submit 'Salvar', :class => "btn btn-primary"%>
		<%= link_to 'Cancelar', admin_food_type_foods_path(current_food_type), :class => "btn" %>
	</div>
<% end %>