<div class="page-header">
	<h1>Pratos de <%= current_food_type.name %></h1>
</div>
<%= render "admin/foods/form", url: admin_food_type_food_path(current_food_type, @food) %>
<div class="page-header">
	<h2>Imagens de <%= @food.title %></h2>
	<%= form_for(@food_image, url: admin_image_path(@food.id), multipart: true) do |f| %>
		<p class="controls">
			<%= f.file_field :plate %>
			<%= f.submit "Salvar Imagem", :class => "btn btn-primary" %>
		</p>
	<% end %>

	<div id="food-images">
		<% if @food.food_images.any? %>
			<ul>
				<% @food.food_images.each do |img| %>
					<li>
						<%= image_tag(img.plate.url, size: "300x300")%> <br />
						<%= link_to "Excluir", admin_remove_image_path(img.food_id, img), method: :delete, confirm: "Deseja realmente excluir esta imagem?"%>
					</li>
				<% end %>
			</ul>
		<% else %>
			<p><strong>Nenhuma imagem cadastrada até o momento</strong></p>
		<% end %>
	</div>
</div>