<div class="page-header">
	<h1>Pratos de <%= current_food_type.name %></h1>
</div>
<table class="table table-bordered table-striped table-hover">
	<thead>
		<tr>
			<th>#</th>
			<th>Nome</th>
			<th>Ações</th>
		</tr>
	</thead>
	<tbody>
			<% @foods.each do |f| %>
			<tr>
				<td><%= f.id %></td>
				<td><%= f.title %></td>
				<td>
					<%= link_to 'Editar', edit_admin_food_type_food_path(f.food_type_id, f)%>
					<%= link_to 'Excluir', admin_food_type_food_path(f.food_type_id, f), method: :delete, confirm: "Deseja realmente excluir o alimento #{f.title}?"%>
				</td>
			</tr>
			<% end %>
	</tbody>
</table>
<%= link_to 'Criar novo alimento', new_admin_food_type_food_path(current_food_type.id), :class => "btn btn-success" %>