body{
	#main-page{
		margin-top:60px;
	}
	
	#login-form{
		width:500px;
		margin:0 auto;
		min-height:250px !important;
	}

	#food-images{
		ul{
			li{
				list-style: none;
				display: inline-block;
			}
		}
	}
}

/* Estilos - painel da cozinha */
.order-holder{
	background: #FFEB7A;
	padding: 10px;
	position: relative;
	margin-bottom: 30px;
	border: 1px solid #e8e8e8;
	&:last-child{
		margin-bottom:0;
	}
	.o-itens{
		li{
			list-style: none;
		}
		.oi-observation{
			color:#333;
			margin-left: 10px;
		}
	}

	.o-actions{
		position: absolute;
		right: 20px;
		top: 30%;
	}

	.o-info{
		font-weight: bold;
		position: absolute;
		left: 20%;
		top: 20px;
		
		p{
			margin-bottom:0;
		}
	}
}