<div class="page-header">
	<h1>Categorias do cardápio</h1>
</div>
<table class="table table-bordered table-striped table-hover">
	<thead>
		<tr>
			<th>#</th>
			<th>Nome</th>
			<th>Idioma</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<% @food_types.each do |ft| %>
			<tr>
				<td><%= ft.id %></td>
				<td><%= ft.name %></td>
				<td><%= ft.locale%></td>
				<td>
					<%= link_to 'Ver pratos', admin_food_type_foods_path(ft)%>
					<%= link_to 'Editar categoria', edit_admin_food_type_path(ft)%>
					<%= link_to 'Remover Categoria', admin_food_type_path(ft), method: :delete %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>
<%= link_to 'Criar nova categoria', new_admin_food_type_path, :class => "btn btn-success" %>