<%= form_for(@user, url: url, html: { :class => "form-horizontal well" }) do |f| %>
  <div class="control-group">
    <%= f.label 'Nome',  :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :name, :class => "input-xlarge" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label 'Quarto',  :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :room, :class => "input-xlarge" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label 'Data de check-in', :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :checkin_at, :class => "input-xlarge datetime" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label 'Data de check-out', :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :checkout_at, :class => "input-xlarge datetime" %>
    </div>
  </div>
  <p>
    <%= f.submit 'Enviar', :class => 'btn btn-primary' %>
    <%= link_to 'Cancelar', admin_guests_path, :class => 'btn' %>
  </p>
<% end %>