<div class="page-header">
	<h1>Hóspedes</h1>
</div>
<% if false %>
	<%= form_tag(admin_guests_search_path, :class => 'form-search', method: 'get') do %>
		<input type="text" class="input-medium search-query" placeholder="Procure pelo seu hóspede aqui" name="q">
	  <button type="submit" class="btn">Search</button>
	<% end %>
<% end %>
<% if @users  %>
<table class="table table-bordered table-striped table-hover">
	<thead>
		<tr>
			<th>#</th>
			<th>Nome</th>
			<th>Quarto</th>
			<th>Senha de acesso</th>
			<th>Data de Check-in</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<% @users.each do |u| %>
			<tr>
				<td><%= u.id %></td>
				<td><%= u.name %></td>
				<td><%= u.room %></td>
				<td><%= u.password%></td>
				<td><%= u.formated_checkin_date %></td>
				<td><%= link_to 'Excluir', admin_guest_path(u.id), method: 'DELETE', confirm: 'Você realmente deseja excluir este usuário?' %></td>
			</tr>
		<% end %>
	</tbody>
</table>
<% end %>
<%= link_to 'Realizar novo check-in', new_admin_guest_path, :class => "btn btn-success" %>