<% if @orders.any?  %>
  <% @orders.each  do |o| %>
      <section class="order-holder" data-time="<%= o.created_at.to_i %>">
        <h3>Pedido #<%= o.id %></h3>
        <article class="o-info">
          <p>Hóspede: <%= o.user.name%></p>
          <p>Local de entrega: <%= (o.delivery_location) ? o.delivery_location.name : "Não informado" %></p>
        </article>
        <article class="o-itens">
          <h4>Itens</h4>
          <ul>
            <% o.items.each do |i| %>
              <li>
                  <strong><%= i.food.title %> | Quantidade: <%= i.amount %> </strong>
                  <% unless i.observations.nil? %>
                    <p class="oi-observation">
                      obs: <%= i.observations %>
                    </p>
                  <% end %>
              </li>
            <% end %>
          </ul>
        </article>
        <article class="o-actions">
          <p><%= link_to 'Marcar como pronto', kitchen_kitchen_ready_path(o), method: :put, class: 'btn btn-primary' %></p>
          <p><%= link_to 'Remover pedido', kitchen_home_path(o), method: :delete, class: 'btn btn-danger', confirm: 'Deseja realmente excluir esse pedido?'  %></p>
        </article>
      </section>
  <% end %>
<% end %>