<% if @orders.empty? %>
  <strong>Nenhum pedido realizado até o momento</strong>
<% else %>
  <div id="all-orders">
    <input type="hidden" id="url-polling" value="<%= kitchen_polling_orders_path %>" />
    <%= render "list" %>
  </div>
<% end %>