<!DOCTYPE html>
<html>
	<head>
	  <title><%= current_user.company.name %> - Admin</title>
	  <meta charset="utf-8" />
	  <%= stylesheet_link_tag    "application", :media => "all" %>
	  <%= javascript_include_tag "application" %>
	  <script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
	  <%= csrf_meta_tags %>
	</head>
	<body>
		 <div class="navbar navbar-fixed-top">
		   <div class="navbar-inner">
		     <div class="container">
		     	<%= link_to current_user.company.name, admin_home_index_path, :class => "brand"%>
		       <div class="nav-collapse collapse" id="main-menu">
		        <ul class="nav" id="main-menu-left">
		          <li class="<%= ((request.fullpath.include? 'food_type' or request.fullpath.include? 'menu') ? 'current' : '')%>"><%= link_to current_user.company.menu_configuration["cardapio"], admin_menus_path %></li>
		          <li><%= link_to current_user.company.menu_configuration["promocoes"], admin_promotions_path %></li>
		          <li><%= link_to current_user.company.menu_configuration["hospedes"], admin_guests_path %></li>
		          <li><%= link_to current_user.company.menu_configuration["room_service"], admin_room_services_path%></li>
		        </ul>
		        <ul class="nav pull-right">
		        	<li><%= link_to 'Configurações', admin_delivery_locations_path %></li>
		        	<li><%= link_to 'Sair', admin_sign_out_path%></li>
		        </ul>
		       </div>
		     </div>
		   </div>
		 </div>
		<div class="container" id="main-page">
			<%= yield %>
		</div>
	</body>
</html>
