<!DOCTYPE html>
<html>
  <head>
    <title>Hostab - Painel da Cozinha</title>
    <meta charset="utf-8" />
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <%= csrf_meta_tags %>
  </head>
  <body>
     <div class="navbar navbar-fixed-top">
       <div class="navbar-inner">
         <div class="container">
          <%= link_to 'Hostab - Painel da cozinha', admin_home_index_path, :class => "brand"%>
           <div class="nav-collapse collapse" id="main-menu">
            <ul class="nav pull-right">
              <li><%= link_to 'Sair', kitchen_sign_out_path%></li>
            </ul>
           </div>
         </div>
       </div>
     </div>
    <div class="container" id="main-page">
      <%= yield %>
    </div>
  </body>
</html>
